@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
}

body {
    background-color: dodgerblue;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.wrapper {
    padding: 10px 15px;
    background-color: white;
    border-radius: 5px;
    width: 45em;
     & > h1 {
         font-size: 2.5em;
        margin: 10px 0px 5px 0px;
     }
     & > .info-txt {
         font-size: 1.4em;
     }
     & > .input-value {
         margin: 20px 0px;
         display: flex;
         gap: 10px;
        .contain-input {
            display: flex;
            align-items: center;
            width: 100%;
            label {
                text-transform: capitalize;
                font-size: 1.3em;
            }
            .seperator {
                margin: 0px 10px;
            }

            input {
                font-size: 1.5em;
                padding: 5px 10px;
                text-align: center;
                width: 100%;
                outline: none;
                border: 2px solid #ccc9;
                &[type="number"]::-webkit-outer-spin-button,
                &[type="number"]::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                }   
                &:focus, &:hover {
                    border-color: #0009;
                }
            }
        }
     }



    & > .range-value {
        height: 5px;
        width: 100%;
        background-color: #ccc9;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        margin: 0px 0px 20px 0px;
        & > input {
            width: calc(100% + 10px);
            position: absolute;
            -webkit-appearance: none;
            background-color: transparent;
            pointer-events: none;
            &[type="range"]::-webkit-slider-thumb {
                pointer-events: auto;
                width: 15px;
                -webkit-appearance: none;
                height: 15px;
                background-color: dodgerblue;
                border-radius: 10px;
            }
        }
        & > .progress {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 25%;
            right: 25%;
            background-color: dodgerblue;
        }

    }

}